Repository Alarisco/bPlace-AutoBOT, changes with the labels that .github/labeler.yml gives for each.
All labels: bot, docs

.github/labeler.yml:

bot:
  - changed-files:
      - any-glob-to-any-file: ["Auto-*.js"]
docs:
  - changed-files:
      - any-glob-to-any-file: ["README.md", "docs/**", "**/*.md"]
ci:
  - changed-files:
  - any-glob-to-any-file: [".github/**"]
misc:
  - changed-files:
  - any-glob-to-any-file: ["*.json", "*.yml", "*.yaml"]

feat: Adaptar WPlace-AutoBOT para bPlace.org
  Auto-Farm.js
  Auto-Guard.js
  Auto-Image.js
  Auto-Launcher.js
  Auto-Slave.js
  README.md
  package.json
  src/addons/Auto-bot-extension-firefox/content.js
  src/addons/Auto-bot-extension-firefox/popup.js
  src/addons/Auto-bot-extension/content.js
  src/addons/Auto-bot-extension/popup.js
  src/core/pawtect.js
  src/core/warmup.js
  src/core/wplace-api.js
  src/farm/config.js
  src/farm/loop.js
  src/guard/config.js
  src/guard/processor.js
  src/image/config.js
  src/image/loop.js
  src/image/painter.js
  src/slave/index.js
  src/slave/paint.js
Labels: bot, docs

refactor: Limpieza profunda - eliminación completa de turnstile y pawtect
  Auto-Farm.js
  Auto-Guard.js
  Auto-Image.js
  Auto-Launcher.js
  Auto-Slave.js
  src/core/fingerprint.js
  src/core/pawtect.js
  src/core/turnstile.js
  src/core/warmup.js
  src/core/wplace-api.js
  src/farm/config.js
  src/farm/loop.js
  src/guard/index.js
  src/guard/processor.js
  src/image/config.js
  src/image/index.js
  src/image/loop.js
  src/image/painter.js
  src/launcher/index.js
  src/slave/index.js
  src/slave/paint.js
Labels: bot

fix: Corregir errores de ESLint en image/painter.js
  Auto-Farm.js
  Auto-Guard.js
  Auto-Image.js
  Auto-Launcher.js
  Auto-Slave.js
  src/image/painter.js
Labels: bot

Implement transparency handling in pixel analysis
  Auto-Farm.js
  Auto-Guard.js
  Auto-Image.js
  Auto-Launcher.js
  Auto-Slave.js
  src/guard/analysis-window.js
  src/guard/processor.js
Labels: bot

Update README to remove badges and modify instructions
  README.md
Labels: docs

Fix: Actualizar checkHealth para usar endpoint /me de bPlace.org
  Auto-Farm.js
  Auto-Guard.js
  Auto-Image.js
  Auto-Launcher.js
  Auto-Slave.js
  src/addons/Auto-bot-extension-firefox/README.md
  src/addons/Auto-bot-extension-firefox/manifest.json
  src/addons/Auto-bot-extension-firefox/popup.html
  src/addons/Auto-bot-extension/manifest.json
  src/addons/Auto-bot-extension/popup.html
  src/addons/Captura2.png
  src/core/wplace-api.js
Labels: bot, docs

Update links and references for bPlace-AutoBOT
  README.md
Labels: docs

Fix: Actualizar URLs de repositorio en extensiones
  src/addons/Auto-bot-extension-firefox/content.js
  src/addons/Auto-bot-extension-firefox/manifest.json
  src/addons/Auto-bot-extension-firefox/popup.js
  src/addons/Auto-bot-extension/content.js
  src/addons/Auto-bot-extension/manifest.json
  src/addons/Auto-bot-extension/popup.js
Labels: none

Add Chrome Web Store link and image to README
  README.md
Labels: docs

Add Firefox add-on link and logo to README
  README.md
Labels: docs

Update Firefox add-on link and image in README
  README.md
Labels: docs
